<% include ../partials/header %>

<h1>data.shortDescription</h1>
<% if (data.author !== "db_owner") { %>
  <h3>Added By <%= data.author %></h3>
<% } %>
<p><%= data.detailedDescription %></p>
<fieldset>
  <h4>Comments</h4>
  <p class="requireLogout">Login to add a comment</p>
  <div class="hidden requireLogin">
    <form class="addCommentForm">
      <label for="commentInputField"></label>
      <textarea placeholder="Your comment" name="commentInputField"></textarea>
      <button>Post Comment</button>
    </form>
  </div>
  <% if (data.comments.length > 0) { %>
    for (let i = 0; i < data.comments.length; i++) { %>
      <div class="commentBox">
        <h5 class="commentHeader"><%= data.comments[i].userName %> - <%= data.comments[i].date %></h5>
        <p class="comment"><%= data.comments[i].comment</p>
      </div>
  <% } %>
<% } %>
</fieldset>

<% include ../partials/footer %>
